body {
    margin: 10px 50px;
}

.headers {
    margin-bottom: 0;
}

#contactList {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

#contactList li {
    display: block;
    list-style-type: none;
    flex: 0 1 auto;
    font-size: 1.5vw;
}

#aboutMe {
    margin: 40px 0 0 0;
    font-size: 1.2vw;
}

.section {
    margin-top: 40px;
}

#skillsList {
    padding-left: 0;
}

#skillsList li{
    list-style-type: none;
    font-size: 1.2vw;
}

.job {
    margin-top: 20px;
}

.employee {
    text-align: left;
    margin: 0;
    font-size: 1.2vw;
}

.local {
    font-size: 1.2vw;
}

.right {
    float: right;
}

.jobDesc {
    padding-left: 18px;
    margin: 0;
    font-size: 1vw;
}

.project p{
    font-size: 1vw;
}

.projectTitle {
    text-decoration-line: underline
}



