body {
    margin: 10px 50px;
}

h1 {
    margin-bottom: 0;
}

#contactList {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

#contactList li {
    display: block;
    list-style-type: none;
    flex: 0 1 auto;
    font-size: 1.5vw;
}

#aboutMe {
    margin: 40px 0;
}

