* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  color: #fff;
  background-color: #5995DA;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.header {
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.school {
  margin-left: auto;
}

.grade {
  margin-left: 20px;
}
